@import url('https://fonts.googleapis.com/css2?family=Thasadith:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
}

.content {
  max-width: 1300px;
  margin: 0 auto;
}

@media only screen and (min-width: 1221px) and (max-width: 1440px) {
  .content {
    max-width: 1200px;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1220px) {
  .content {
    max-width: 950px;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1000px) {
  .content {
    max-width: 750px;
  }
}

@media only screen and (min-width: 551px) and (max-width: 800px) {
  .content {
    max-width: 540px;
  }
}

@media only screen and (max-width: 550px) {
  .content {
    max-width: 400px;
  }
}

@media only screen and (max-width: 400px) {
  .content {
    max-width: 350px;
  }
}
