.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

#contact-card {
  width: 28rem;
  text-align: center;
  border: 5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 1rem;
}

#contact-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 2rem;
}

#contact-card-title {
  font-size: 180%;
  justify-content: center;
}

.github-icon {
  color: #000000
}

.linkedin-icon {
  color: #0077b5;
}

@media (max-width: 600px) {
  #contact-card {
    width: 22rem;
  }
}

@media (max-width: 400px) {
  #contact-card {
    width: 20rem;
  }

  #contact-buttons {
    margin: 0 1rem;
  }
}
