.footer {
  display: flex;
  justify-content: space-between;
}

.footer p {
  background-color: bisque;
  border-radius: 16px;
  padding: 4px 8px;
}

.button {
  width: 5rem;
  margin: 0 8px;
}

.full-modal-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notes-submit {
  display: flex;
  align-items: center;
}

.notes-saved {
  margin-left: 1rem;
  padding: 4px;
  border-radius: 8px;
  background-color: rgb(230, 230, 230);
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.notes-saved-visible {
  opacity: 1;
}


