#header-navbar {
  margin: 0 auto;
  width: 1300px;
  z-index: 9001;
  height: 80px;
  background-color: white;
}

#brand-name {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(22, 22, 22);
  font-family: 'Thasadith', sans-serif;
  border: thin solid rgb(22, 22, 22);
  padding: 6px 12px;
  font-weight: 700;
  border-radius: 6px;
}

#brand-logo {
  height: 50px;
}

.header-button {
  text-align: center;
  border-radius: 8px;
  margin: 0 auto;
  width: 80%;
}

.custom-dropdown {
  padding: 0;
  margin: 0;
}

.header-button:hover {
  background-color: lightblue;
}

#logout-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

#basic-nav-dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1221px) and (max-width: 1440px) {
  #header-navbar {
    max-width: 1200px;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1220px) {
  #header-navbar {
    max-width: 950px;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1000px) {
  #header-navbar {
    max-width: 750px;
  }
}

@media only screen and (min-width: 551px) and (max-width: 800px) {
  #header-navbar {
    max-width: 540px;
  }
}

@media only screen and (max-width: 550px) {
  #header-navbar {
    max-width: 400px;
  }
  #brand-name {
    font-size: 110%;
  }
}

@media only screen and (max-width: 400px) {
  #header-navbar {
    max-width: 350px;
  }
}
