@import url('https://fonts.googleapis.com/css2?family=Thasadith:wght@400;700&display=swap');

#brand-name {
  color: rgb(22, 22, 22);
  font-family: 'Thasadith', sans-serif;
  border: thin solid rgb(22, 22, 22);
  padding: 6px 12px;
  font-weight: 700;
  border-radius: 6px;
}

.button {
  letter-spacing: 2px;
}

.header {
  padding: 8px 5rem;
}

.header-button {
  text-align: center;
  border-radius: 8px;
  margin: 0 auto;
  width: 80%;
}

.header-button:hover {
  background-color: lightblue;
}

#logout-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1000px) {
  .header {
    padding: 8px 2rem;
  }
}

@media (max-width: 400px) {
  .header {
    padding: 8px 1rem;
  }
}
