@import url('https://fonts.googleapis.com/css2?family=Thasadith:wght@400;700&display=swap');

#brand-name {
  color: rgb(22, 22, 22);
  font-family: 'Thasadith', sans-serif;
  padding: 6px 12px;
  border: thin solid rgb(22, 22, 22);
  font-weight: 700;
  border-radius: 6px;
}

.button {
  letter-spacing: 2px;
}

.header-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.header-button:hover {
  background-color: lightblue;
}

#logout-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
