.card {
  border-radius: 12px;
  background-color: rgb(235, 240, 240);
  border-style: none;
  margin: 4px 1rem;
  width: 100%;
}

.card-title {
  display: flex;
  margin: 0;
  padding: 6px 4px 0;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  border-radius: 1rem;
}

.buttons {
  display: flex;
}

.card-button {
  display: flex;
  justify-content: center;
  width: 4rem;
  color: #000000;
}

.card-text-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.added-text {
  font-size: 80%;
  color: #373636;
}

@media (max-width: 1200px) {
  .card-container {
    text-align: center;
  }
  .card-title,
  .card-text-bottom,
  .card-button,
  .text {
    display: inline-block;
    text-align: center;
  }
  .card-title .text {
    margin: 0 1rem;
  }
}
