.card-img {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 60px;
}

.card-title {
  display: flex;
  margin-top: 4px;
  margin-bottom: 0;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

