.card {
  border-radius: 12px;
  background-color: rgb(235, 240, 240);
  border-style: none;
  margin: 4px 1rem;
  /* height: 9rem; */
  width: 16rem
}

.card-title {
  display: flex;
  margin: 0;
  padding: 6px 0 0;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  border-radius: 1rem;
}

.buttons {
  display: flex;
  /* position: relative; */
  justify-content: center;
  margin: 8px auto 0;
  width: 4rem;
  /* top: 1rem; */
}

.card-button {
  display: flex;
  justify-content: center;
  width: 4rem;
}

.card-text-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.added-text {
  font-size: 70%;
}