.card {
  border-radius: 1rem;
  background-color: rgb(236, 243, 244);
  border-style: none;
  margin: 1rem 1rem;
}

.card-img {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 4rem;
  position: relative;
  top: 1rem;
}

.card-title {
  display: flex;
  margin-top: 4px;
  margin-bottom: 0;
  padding: 2rem 0 0;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  background-color: rgb(175, 225, 190);
  padding: 2px 0 8px;
  border-radius: 1rem;
}

.accordion {
  background-color: rgb(175, 225, 190);
}

.card-button {
  display: flex;
  justify-content: center;
  margin: 1rem auto 0;
  width: 8rem;
}

