.listings-container {
  position: fixed;
  top: 14rem;
  left: 50%;
  transform: translateX(-50%);
}

.listings-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150%;
}

.addButton {
  position: fixed;
  width: 20rem;
  height: 3rem;
  top: 9rem;
  left: 50%;
  transform: translateX(-50%);
}

.listings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.listings p, h1 {
  color: rgb(35, 35, 35);
}

