.listings-container {
  position: fixed;
  top: 14rem;
  left: 50%;
  transform: translateX(-50%);
}

.listings-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150%;
}

select {
  width: 100%;
  height: 3rem;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.addButton {
  position: fixed;
  width: 20rem;
  height: 3rem;
  top: 9rem;
  left: 50%;
  transform: translateX(-50%);
}

.listings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.listings-selector {
  font-size: 150%;
  color: rgb(45, 45, 45);
  border: 1px solid rgb(160, 160, 160);
  background-color: rgb(181, 180, 180);
}

.listings p, h1 {
  color: rgb(35, 35, 35);
}

.listing-hr {
  width: 70%;
  height: 3px;
  background-color: black;
  border-radius: 3px;
}
