.listings-container {
  margin: 15rem auto 0;
  width: 1300px;
}

.listings-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150%;
}

/* HTML: <div class="loader"></div> */
.loader {
  margin: 0 auto;
  height: 30px;
  aspect-ratio: 2.5;
  --_g: no-repeat radial-gradient(farthest-side,#507ba2 90%,#0000);
  background:var(--_g), var(--_g), var(--_g), var(--_g);
  background-size: 20% 50%;
  animation: l43 1s infinite linear; 
}
@keyframes l43 {
  0%     {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
  16.67% {background-position: calc(0*100%/3) 0   ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
  33.33% {background-position: calc(0*100%/3) 100%,calc(1*100%/3) 0   ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
  50%    {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 100%,calc(2*100%/3) 0   ,calc(3*100%/3) 50% }
  66.67% {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 100%,calc(3*100%/3) 0   }
  83.33% {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 100%}
  100%   {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
}

select {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addButton {
  position: absolute;
  width: 20rem;
  height: 3rem;
  top: 10rem;
  left: 50%;
  transform: translateX(-50%);
}

.listings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.listings-selector {
  font-size: 150%;
  color: rgb(45, 45, 45);
  border: 1px solid rgb(160, 160, 160);
  background-color: rgb(181, 180, 180);
}

.listings p,
h1 {
  color: rgb(35, 35, 35);
}

.listing-hr {
  width: 70%;
  height: 3px;
  background-color: black;
  border-radius: 3px;
}

@media only screen and (min-width: 1221px) and (max-width: 1440px) {
  .listings-container {
    max-width: 1200px;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1220px) {
  .listings-container {
    max-width: 950px;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1000px) {
  .listings-container {
    max-width: 750px;
  }
}

@media only screen and (min-width: 551px) and (max-width: 800px) {
  .listings-container {
    max-width: 540px;
  }
}

@media only screen and (max-width: 550px) {
  .listings-container {
    max-width: 400px;
  }
}

@media only screen and (max-width: 400px) {
  .listings-container {
    max-width: 350px;
  }
}
