.login-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 8px;
}

.login-div:nth-child(2) {
  padding: 8px 0 0;
}

.login-button {
  width: 9rem;
}
